@page
@model Hotel119691868.Pages.Customers.MyDetailsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{

}

<h2>My Details</h2>

@if ((string)ViewData["ExistInDB"] == "true")
{
    <h4>Welcome, @UserManager.GetUserName(User)! Here's your Details!</h4>
}
else
{
    <h4>Welcome, @UserManager.GetUserName(User)! You should complete your details below!</h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Myself.FirstName" class="control-label"></label>
                <input asp-for="Myself.FirstName" class="form-control" />
                <span asp-validation-for="Myself.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Myself.LastName" class="control-label"></label>
                <input asp-for="Myself.LastName" class="form-control" />
                <span asp-validation-for="Myself.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Myself.Postcode" class="control-label"></label>
                <input asp-for="Myself.Postcode" class="form-control" />
                <span asp-validation-for="Myself.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewData["SuccessDB"] != null)
{
    <hr />
    <h5>
        Thanks. You have successfully updated your details with your name
        <strong>@Model.Myself.FirstName @Model.Myself.LastName</strong>
        and your Postal Code <strong>@Model.Myself.Postcode</strong>.
    </h5>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}